server:
  port: 8081

spring:
  application:
    name: proposal-user-service


  security:
    user:
      name: admin
      password: admin

  datasource:
    url: jdbc:mysql://localhost:3306/proposal_management_cloud?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

  data:
    cassandra:
      contact-points: cassandra
      port: 9042
      keyspace-name: proposal
      local-datacenter: datacenter1
      schema-action: create_if_not_exists